*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(blue white);
    }

    .pipe {
      position: absolute;
      bottom: 0;
      width: 80px;
      left: 120px;
      animation: pipe-animation 1.5s infinitive linear;
    }

    .mario {
        width: 150px;
        position: absolute;
        bottom: 0;
    }

    .jump {
        animation: jump 500ms ease-out;
    }

    .clouds {
        width: 550px;
        position: absolute;
        animation: clouds-animation 20s infinitive linear;
    }


    @keyframes pipe-animation {}


    @keyframes jump {}

    @keyframes clouds-animation {
        from {
            right: -550px;
        }

        to {
            right: 100%;

        }

    }


    